/* colors */
$subtitle-primary: #677897;
$links-primary: #0075ff;
$subtitle-secondary: #2b2b2b;
$heading-primary: #47536a;
$heading-secondary: #47536a;
$background-gray: #eaf1fc;
$skeleton-primary: #d2e4ff;
$chip-white: #fff;
$skeleton-background: linear-gradient(135deg, #e1f4f9 0%, #d8ebff 100%);

/* background-colors */
$transparent-black: rgba(0, 0, 0, 0.8);
$clear-white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.95);

/* font-family */
$open-sans-default: Open Sans;
/* font-size */
$font-size-default: 12px;
$font-size-semi: 13px;
$font-size-medium: 14px;
/* font-weight */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* dimension */
$spacing-default: 4px;

