@import "./common.module";

.whyUs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  margin-top: 51px;
}

.whyUsImage {
  position: relative;

  .whyUsPopcorn {
    position: absolute;
    left: -40px;
    top: 105px;
    width: 217.27px;
    height: 225.18px;
    transform: rotate(45deg) translateX(50px);
    transition: transform 1s ease-in-out;
    transform-origin: bottom right;
  }

  .whyUsDrink {
    position: absolute;
    right: -8px;
    top: 47px;
    width: 143.2px;
    height: 254.8px;
    transform: rotate(-45deg) translateX(-50px);
    transition: transform 1s ease-in-out;
    transform-origin: bottom left;
  }

  .whyUsSecondBackground {
    position: absolute;
    left: -13px;
    top: 8px;
  }

  .whyUsPhone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -77px;
    align-self: center;
    width: 417px;
    height: 675px;
  }

  @media (max-width: 768px) {
    .whyUsPopcorn {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 157px;
      height: 162px;
    }

    .whyUsDrink {
      position: absolute;
      right: 58px;
      top: 0;
      width: 115px;
      height: 204px;
    }

    .whyUsPhone {
      position: absolute;
      top: -97px;
      width: 440px;
      height: 695px;
      align-self: center;
    }
  }
}

.whyUsAnimation {
  .whyUsPopcorn {
    transform: rotate(0) translateX(0);
  }

  .whyUsDrink {
    transform: rotate(0) translateX(0);
  }
}

.whyUsTabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 475px;

  :global(.MuiTabs-flexContainer) {
    background: #EAF1FC;
    border-radius: 40px;
    padding: 5px;
  }

  :global(.MuiTabs-indicator) {
    height: 60px;
    background: #0075FF;
    border-radius: 30px;
    margin-bottom: 5px;
  }

  :global(.MuiTab-root) {
    height: 60px;
    z-index: 1;
    border-radius: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: none;

    color: #003879;
    opacity: 0.4;
  }

  :global(.Mui-selected) {
    color: #FFFFFF;
    opacity: 1;
  }

  ul {
    margin: 0;
    padding: 18px 18px 8px 30px;

    & > li {
      margin-bottom: 10px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      color: #003879;
    }
  }

  @media (max-width: 768px) {
    min-width: auto;
    :global(.MuiTab-root) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.whyUsMobileStores {
  @extend .mobileStores;
  margin-top: 0;
  align-self: center;

  @media (min-width: 769px) {
    padding: 30px;
    margin-top: 0;
    min-width: 470px;

    p:last-of-type {
      margin-top: 8px;
      margin-bottom: 14px;
    }

    img {
      width: 112px;
      height: 112px;
    }

    svg {
      width: 95px;
      height: 30px;
    }

    :global(.getAppAuth) {
      justify-content: flex-start;
      gap: 12px;
    }
  }
}
